body {
  background-image: url(../images/sky.png);
  background-repeat: no-repeat;
}

#splash_title {
	width: 100%;
  font-size: 100px;
  color: rgb(0, 0, 0);
  opacity: 0.85;
  text-shadow: 4px 4px 4px rgb(255, 247, 215);
  text-align: center;
  font-family: "Lobster", sans-serif;
	font-weight: 400;
  font-style: normal;

}

.menu_button {
	background-color: rgba(255, 247, 215, 0.525);
    font-size: 28px;
    color: rgb(0, 170, 200);
    cursor: pointer;
    text-align: center;
    user-select: none;
    font-family: "Lobster", sans-serif;
	  font-weight: 400;
  	font-style: normal;

}

.background_button {
    border-radius: 12px;
    padding: 16px 20px;

}
